.mission-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
  
.mission-item {
  flex: 0 0 calc(33.33% - 10px);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

.tooltip-custom {
  position: relative;
  display: inline-block;
}

  .tooltip-custom:hover .tooltiptext-custom {
    display: inline-block;
    z-index: 3;
    position: absolute;
    bottom: 25px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip */
  }

.tooltiptext-custom {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  white-space: nowrap;
  text-align: center; /* Center the text within the tooltip */
  position: absolute;
  background-color: rgba(33, 37, 41, 0.95);
}

.speech-bubble {
  position: relative;
  padding: 10px; /* Adjust the padding to your preference */
  margin: 10px auto; /* Center the bubble horizontally */
  border-radius: 5px; /* Rounded corners for the bubble */
  background-color: rgba(33, 37, 41, 0.95);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.double-cap-span {
  background-image: radial-gradient(rgb(139, 14, 158), rgb(128, 13, 126), rgb(92, 9, 91));
  border-radius: 10px;
  text-align: center;
}